/* General */
@keyframes colorfull-border {
    0% {  border-color: red; }
    10% { border-color: orange;}
    20% { border-color: gold;}
    30% { border-color: yellow;}
    40% { border-color: yellowgreen;}
    50% { border-color: green;}
    60% { border-color: springgreen;}
    50% { border-color: cyan;}
    60% { border-color: dodgerblue;}
    70% { border-color: blue;}
    80% { border-color: violet;}
    90% { border-color: magenta;}
    100% { border-color: orangered;}
}
@keyframes colorfull-text {
    0% {  color: red; }
    10% { color: orange;}
    20% { color: gold;}
    30% { color: yellow;}
    40% { color: yellowgreen;}
    50% { color: green;}
    60% { color: springgreen;}
    50% { color: cyan;}
    60% { color: dodgerblue;}
    70% { color: blue;}
    80% { color: violet;}
    90% { color: magenta;}
    100% { color: orangered;}
}

/* Opacity */
@keyframes alternateOpacity1 {
    from { opacity: 0 }
    to { opacity: .1 }
}
@keyframes alternateOpacity2 {
    from { opacity: 0 }
    to { opacity: .2 }
}
@keyframes alternateOpacity3 {
    from { opacity: 0 }
    to { opacity: .3 }
}
@keyframes alternateOpacity4 {
    from { opacity: 0 }
    to { opacity: .4 }
}
@keyframes alternateOpacity5 {
    from { opacity: 0 }
    to { opacity: .5 }
}
@keyframes alternateOpacity6 {
    from { opacity: 0 }
    to { opacity: .6 }
}
@keyframes alternateOpacity7 {
    from { opacity: 0 }
    to { opacity: .7 }
}
@keyframes alternateOpacity8 {
    from { opacity: 0 }
    to { opacity: .8 }
}
@keyframes alternateOpacity9 {
    from { opacity: 0 }
    to { opacity: .9 }
}
@keyframes dissociativeAlternateOpacity {
    0% {opacity: 0}
    10% {opacity: 0.1}
    20% {opacity: 0.5}
    30% {opacity: 0}
    40% {opacity: 0.8}
    50% {opacity: 1}
    60% {opacity: 1}
    70% {opacity: 0}
    80% {opacity: 0}
    90% {opacity: 0}
    100% {opacity: 0}
}
@keyframes dissociativeAlternateOpacity2 {
    0% {opacity: 0}
    10% {opacity: 0.5}
    20% {opacity: 1.0}
    30% {opacity: 0.3}
    40% {opacity: 0.3}
    50% {opacity: 0.3}
    60% {opacity: 0.3}
    70% {opacity: 0}
    80% {opacity: 0}
    90% {opacity: 0}
    100% {opacity: 0}
}

@keyframes fadeOut {
    from { opacity: 1 }
    to { opacity: 0 }
}
@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

/* Delirants */
@keyframes delirant-spider-animation {
    0% { opacity: 0; }
    5% { opacity: 0.3; }
    10% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes delirant-ants-animation {
    0% { opacity: 0; filter: blur(3px); }
    40% { opacity: 0.2; filter: blur(2px); }
    50% { opacity: 0.0; }
    100% { opacity: 0.0; }
}
@keyframes delirant-eyes-animation {
    0% { opacity: 0; filter: blur(20px); }
    20% { opacity: 0.3; filter: blur(3px); }
    25% { opacity: 0.1; filter: blur(20px); }
    100% { opacity: 0.0; }
}
@keyframes horrorAnimation {
    0% { opacity: 0; filter: blur(10px); }
    20% { opacity: .4; filter: blur(1px); }
    25% { opacity: 0; filter: blur(5px); }
    100% { opacity: 0 }
}

/* Deep dream */
@keyframes deep-dream-1-animation {
    from { opacity: 0; }
    to { opacity: 0.2; }
}
@keyframes deep-dream-2-animation {
    from { opacity: 0; }
    to { opacity: 0.25; }
}
@keyframes deep-dream-3-animation {
    from { opacity: 0; }
    to { opacity: 0.45; }
}
@keyframes deep-dream-4-animation {
    from { opacity: 0; }
    to { opacity: 0.6; }
}
@keyframes deep-dream-5-animation {
    from { opacity: 0; }
    to { opacity: 0.8; }
}

/* Stars */
@keyframes stars-effect-animation {
    from { opacity: 0; }
    to { opacity: 0.7; }
}

/* DMT */
@keyframes dmt-effect-animation {
    from { opacity: 0; }
    to { opacity: 0.7; }
}
@keyframes dmt2-effect-animation {
    from { opacity: 0; }
    to { opacity: 1.0; }
}
@keyframes dmt3-effect-animation {
    from { opacity: 0; }
    to { opacity: 1.0; }
}
