/* General */
* {
    box-sizing: border-box !important;
}
html {
    font-family: monospace;
    font-size: 14px;
    color: white;
}

/* Design */
h1, h2, h3, h4, h5, h6 {
    color: rgb(0, 200, 0);
    margin-bottom: 5px;
    margin-top: 10px;
}
h3 {
    color: white;
}
body {
    background-color: black;
}
hr {
    border: none;
    border-bottom: 1px solid white;
}
button {
    background-color: black;
    border: 1px solid rgb(0, 200, 0);
    padding: 5px 20px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(0, 50, 0);
}
button:active {
    background-color: rgb(0, 60, 0);
}
button[disabled] {
    opacity: .3;
}
button[disabled]:hover {
    background-color: black;
    cursor: default;
}
select {
    margin-bottom: 5px;
    width: 100%;
    background-color: black;
    border: 1px solid rgb(0, 200, 0);
    padding: 5px 5px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
footer {
    margin-top: 10px;
    text-align: center;
}
a {
    color: rgb(220, 220, 220);
}
a:hover {
    color: rgb(255, 255, 255);
}
.a-reset {
    font-size: 13px;
    text-decoration: none;
    color: orange;
    font-weight: 300;
}
.a-reset:hover {
    color:orangered;
}
table {
    background-color: black;
    width: 100%;
    padding: 5px;
}


/* Colors */
.text-gray { color: gray!important }
.text-cyan { color: cyan!important }
.text-orange { color: orange!important }
.text-yellow { color: yellow!important }
.text-green { color: lime!important }
.text-red { color: red!important }

.gray { background-color: gray!important }
.cyan { background-color: cyan!important }
.orange { background-color: orange!important }
.yellow { background-color: yellow!important }
.green { background-color: lime!important }
.red { background-color: red!important }
.green { background-color: rgb(0, 255, 0)!important }


.screen {
    background-color: rgba(0, 60, 0, .3);
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 25px;
    border: 2px solid rgb(0, 200, 0);
    border-radius: 3px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.content {
    padding: 50px;
}



.substances {
    position: absolute;
    left: 0px;
    top: 30px;
    bottom: 100px;
    width: 200px;
    border-right: 1px solid rgb(0, 200, 0);
    padding: 5px;
    text-align: initial;
    background-color: black;
    overflow-y: scroll;
}

.search {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 30px;
    border-right: 1px solid rgb(0, 200, 0);
    border-bottom: 1px solid rgb(0, 200, 0);
    background-color: black;
}

.search-input {
    width: 100%;
    background-color: black;
    font-style: italic;
    outline: none;
    height: 100%;
    border: none;
    padding: 4px;
    color: white;
}

.inverse-img {
    transform: rotateY(180deg);
}

.info {
    position: absolute;
    left: 0px;
    top: 497px;
    bottom: 0px;
    width: 200px;
    border-right: 1px solid rgb(0, 200, 0);
    border-top: 1px solid rgb(0, 200, 0);
    text-align: initial;
    background-color: black;
    padding: 5px;
    font-size: 12px;
}



.substance {
    padding: 5px;
    display: inline-block;
    width: 100%;
    border: 1px solid white;
    border-radius: 1px;
    overflow: hidden;
    vertical-align: middle;
    margin-bottom: 4px;
    user-select: none;
}

.substance p {
    margin: 0px;
}

.substance img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.substance:hover {
    background-color: rgb(0, 50, 0);
    cursor: pointer;
}
.substance:active {
    background-color: rgb(0, 60, 0);
    cursor: pointer;
}

.game-content {
    padding: 10px;
    padding-left: 210px;
    width: 100%;
    height: 100%;
    text-align: initial;
}



.progress-bar {
    border: 1px solid rgb(0, 50, 0);
    width: 100%;
    height: 20px;
    background-color: black;
}

.progress {
    background-color: blueviolet;
    height: 20px;
}

.progress-addiction {
    height: 20px;
}



.method {
    width: 65px;
    height: 90px;
    border: 1px solid rgb(100, 100, 100);
    margin-right: 5px;
}
.method:hover {
    border-color: white;
    cursor: pointer;
}

.points {
    position: absolute;
    top: 10px;
    right: 10px;
}

.actions {
    width: 100%;
    border-bottom: 1px solid rgb(0, 200, 0);
    padding: 5px;
}

.simulation-img {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 796px;
    height: 556px;
}

.simulation-anim {
    animation: substance-animation 2s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.simulation-anim2 {
    animation: substance-animation 5s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.hallucinogic {
    animation: alternateOpacity 13s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 32s;
}
.hallucinogic2 {
    animation: alternateOpacityLight 8s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 10s;
}
.fadeOut {
    animation: fadeOut 1s ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
}
.fadeIn {
    animation: fadeIn .5s ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
}
.simulation-screen {
    background-color: black;
    width: 797px;
    height: 558px;
    user-select: none;
    overflow: hidden;
}





::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
background: rgb(20, 20, 20);
}
::-webkit-scrollbar-thumb {
background: rgb(0, 50, 0);
}
::-webkit-scrollbar-thumb:hover {
background: rgb(0, 75, 0);
}

.delirant-ants {
    animation: delirant-ants-animation 8s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 20s;
    filter: blur(3px);
}
.delirant-spider {
    animation: delirant-spider-animation 40s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 37s;
    filter: contrast(500%) blur(5px);
}
.delirant-eyes {
    animation: delirant-eyes-animation 28s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 4s;
    filter: blur(20px);
}
.delirant-horror {
    animation: horrorAnimation 65s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 35s;
    opacity: .4;
    filter: contrast(200%);
}


.white-noise {
    animation: alternateOpacityLight 20s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 6s;
    filter: contrast(70%);
}

.deep-dream-1 {
    animation: deep-dream-1-animation 9s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 32s;
}
.deep-dream-2 {
    animation: deep-dream-2-animation 11s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 32s;
}
.deep-dream-3 {
    animation: deep-dream-3-animation 15s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 32s;
}
.deep-dream-4 {
    animation: deep-dream-4-animation 18s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 32s;
}
.deep-dream-5 {
    animation: deep-dream-5-animation 30s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 32s;
}


.stars-effect {
    animation: stars-effect-animation 180s ease-in-out;
    animation-iteration-count: 1;
    animation-delay: 10s;
}


.dmt {
    animation: dmt-effect-animation 180s ease-in-out;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-delay: 10s;
}

.dmt2 {
    animation: dmt2-effect-animation 180s ease-in-out;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-delay: 50s;
}

.dmt3 {
    animation: dmt3-effect-animation 180s ease-in-out;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-delay: 150s;
}


.addicted {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
    padding: 20px;
}

.hospital-img {
    border: 1px solid white;
}

.special-substance {
    animation: colorfull-border 3s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.colorfull-text {
    animation: colorfull-text 3s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.marquee {
    background-color: black;
    border-top: 1px solid rgb(0, 200, 0);
    position: absolute;
    bottom: 0px;
    left: 200px;
    right: 0px;
    height: 20px;
    color: rgb(220, 220, 220);
    font-style: italic;
}
.marquee-content {
    margin-right: 250px;
}

.navigation {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    border-bottom: 1px solid rgb(0, 200, 0);
    height: 27px;
}
.navigation-btn {
    border: none;
    border-radius: 0px;
}
.panel {
    padding: 35px 10px 10px 10px;
    text-align: left;
}
.p-left {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 400px;
    text-align: left;
    padding: 10px;
    margin-top: 25px;
}
.p-right {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 400px;
    text-align: left;
    padding: 10px;
    margin-top: 25px;
}
.sel {
    margin-top: 5px;
}
.input {
    width: 100%;
    background-color: black;
    border: 1px solid rgb(0, 200, 0);
    outline: none;
    padding: 5px 5px;
    color: white;
    border-radius: 3px;
    margin-top: 5px;
    font-style: italic;
    margin-bottom: 6px;
    font-size: 13px;
}
.from-input {
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.to-input {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-width: 0px;
    margin-top: -3px;
    margin-bottom: 2px;
}
.help-panel {
    position: absolute;
    top: 27px;
    right: 0px;
    bottom: 0px;
    width: 200px;
    padding: 10px;
    border-left: 1px solid rgb(0, 200, 0);
    background-color: black;
}

.euphoric1 {
    animation: alternateOpacitySuperLight 10s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 5s;
    filter: contrast(150%);
}
.euphoric2 {
    animation: alternateOpacitySuperLight .01s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 7s;
    filter: contrast(150%) saturate(3);
}
.euphoric3 {
    animation: alternateOpacitySuperLight 20s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 9s;
    filter: contrast(150%) saturate(5);
}
.flash-effect {
    animation: alternateOpacityLight .01s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
    filter: brightness(110%) ;
}
